@import "tailwindcss";
/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #fff5f2;
  --color-primary-100: #fff1ee;
  --color-primary-200: #ffe4de;
  --color-primary-300: #ffd5cc;
  --color-primary-400: #ffbcad;
  --color-primary-500: #fe795d;
  --color-primary-600: #ef562f;
  --color-primary-700: #eb4f27;
  --color-primary-800: #cc4522;
  --color-primary-900: #a5371b;

  --color-secondary-50: #f0f9ff;
  --color-secondary-100: #e0f2fe;
  --color-secondary-200: #bae6fd;
  --color-secondary-300: #7dd3fc;
  --color-secondary-400: #38bdf8;
  --color-secondary-500: #0ea5e9;
  --color-secondary-600: #0284c7;
  --color-secondary-700: #0369a1;
  --color-secondary-800: #075985;
  --color-secondary-900: #0c4a6e;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
  /* disable chrome cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}


@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 11px;
      height: 14px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #f7f4ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #e0cbcb;
      border-radius: 100vh;
      border: 3px solid #f6f7ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: rgb(233, 126, 55);
    }
  }


  .ql-mention-list-container {
    width: 270px;
    border: 0.5rem solid;
    border-color: rgb(75 85 99 / var(--tw-border-opacity, 1));
    border-radius: 0.5rem;
    background-color: rgb(75 85 99 / var(--tw-bg-opacity, 1));
    box-shadow: 0 2px 12px 0 rgba(30, 30, 30, 0.08);
    z-index: 9001;
    overflow: auto;
  }
  
  .ql-mention-loading {
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem;
    padding: 0 20px;
    vertical-align: middle;
  }
  
  .ql-mention-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .ql-mention-list-item {
    cursor: pointer;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem;
    font-weight: 500;
    padding-top: 0.5rem /* 8px */;
    padding-bottom: 0.5rem /* 8px */;
    padding-left: 0.5rem /* 8px */;
    vertical-align: middle;
  }
  
  .ql-mention-list-item.disabled {
    cursor: auto;
  }
  
  .ql-mention-list-item.selected {
    background-color: rgb(107 114 128 / var(--tw-text-opacity, 1));
    text-decoration: none;
  }
  
  .mention {
    height: 24px;
    width: 65px;
    border-radius: 6px;
    background-color: rgb(75 85 99 / var(--tw-text-opacity, 1));
    padding: 3px 0;
    margin-right: 2px;
    user-select: all;
  }
  
  .mention > span {
    margin: 0 3px;
  }